5°Semestre/Sistemas Distribuidos/Projeto-m2-SD/WSBanco/WebContent/wsdl/ServicoConta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sacarConta">
    <complexType>
     <sequence>
      <element name="idConta" type="xsd:int"/>
      <element name="valorDeSaque" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="sacarContaResponse">
    <complexType>
     <sequence>
      <element name="sacarContaReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositarConta">
    <complexType>
     <sequence>
      <element name="idConta" type="xsd:int"/>
      <element name="valorDeDeposito" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositarContaResponse">
    <complexType>
     <sequence>
      <element name="depositarContaReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="criarConta">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="criarContaResponse">
    <complexType>
     <sequence>
      <element name="criarContaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultarDadosConta">
    <complexType>
     <sequence>
      <element name="idConta" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultarDadosContaResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="consultarDadosContaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="depositarContaRequest">

      <wsdl:part element="impl:depositarConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sacarContaRequest">

      <wsdl:part element="impl:sacarConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositarContaResponse">

      <wsdl:part element="impl:depositarContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="criarContaResponse">

      <wsdl:part element="impl:criarContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="criarContaRequest">

      <wsdl:part element="impl:criarConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarDadosContaRequest">

      <wsdl:part element="impl:consultarDadosConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarDadosContaResponse">

      <wsdl:part element="impl:consultarDadosContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sacarContaResponse">

      <wsdl:part element="impl:sacarContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicoConta">

      <wsdl:operation name="sacarConta">

         <wsdl:input message="impl:sacarContaRequest" name="sacarContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:sacarContaResponse" name="sacarContaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositarConta">

         <wsdl:input message="impl:depositarContaRequest" name="depositarContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:depositarContaResponse" name="depositarContaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="criarConta">

         <wsdl:input message="impl:criarContaRequest" name="criarContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:criarContaResponse" name="criarContaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarDadosConta">

         <wsdl:input message="impl:consultarDadosContaRequest" name="consultarDadosContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarDadosContaResponse" name="consultarDadosContaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicoContaSoapBinding" type="impl:ServicoConta">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sacarConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sacarContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sacarContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositarConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depositarContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depositarContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="criarConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="criarContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="criarContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultarDadosConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarDadosContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultarDadosContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicoContaService">

      <wsdl:port binding="impl:ServicoContaSoapBinding" name="ServicoConta">

         <wsdlsoap:address location="http://localhost:9090/WSBanco/services/ServicoConta"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
